{% extends "/html/base.html" %}
{%block subtitle %}: {{post.title}}{% endblock %}
{% block content %}
<div class="post">
    {% include "/html/post-content.html" %}
    <div class="post-navigation editor">
        {% if post.next %}
        Next Post :
        <a class="post-navigation--next" href="{{post.next.uri}}">{{post.next.title}}</a> <br>
        {% endif %}
        {% if post.prev %}
        Previous Post :
        <a class="post-navigation--prev" href="{{post.prev.uri}}"> {{post.prev.title}}</a> <br>
        {% endif %}
    </div>
</div>
{% endblock %}
